

<a class="usa-skipnav" href="#main-content">Skip to main content</a>

<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="basic-logo">
                <em class="usa-logo__text">
                    <a href="/" title=" {{ .Title }}">
                        {{ .Title }}
                    </a>
                </em>
            </div>
            <button class="usa-menu-btn">Menu</button>
        </div>
        {{ partial "site-navigation-top.html" .}}
    </div>
</header>
<main id="main-content"></main>
